[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
click = "==7.0"
requests = "==2.22.0"
ldap3 = "==2.6.1"
urllib3 = ">=1.20"
marshmallow = "==3.2.1"
archer-tools = {path = "."}
pyarcher = "*"
coloredlogs = "*"

[dev-packages]
ptipython = "*"
ipython = "*"
bandit = "*"
tox = "*"
pytest = "*"
flake8 = "*"
autopep8 = "*"
pylint = "*"
pytest-cov = "*"
commitizen = "*"
mypy = "*"
pydocstyle = "*"
pylint-fail-under = "*"
